.advantages-text-list{
  margin-bottom: 40px;
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & i{
      display: block;
      padding: 8px;
      border: 1px solid #999;
      font-size: 1.4rem;
      border-radius: 50%;
      margin-right: 15px;
      font-weight: 700;
    }
    &-title{
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.3;
      color: #222;
    }
  }
}