body{
  margin: 0;
  font-size: 10px;
  font-family: $content-ff;
  color: #666;
  background-color: #fff;
  overflow-x: hidden;
}
ul{
  padding: 0;
}
.wrap{
  display: flex;
}

@include respond-to(tabletAndWider){}
