.checkout{
  &__goods-total{
    padding-top: 40px;
  }
  &__item{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    &--subtotal{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item h2{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -.01em;
    color: #222;
    text-transform: uppercase;
  }
  &__item h3{
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -.01em;
    color: #222;
  }
  &__item-shipping-list{
    margin-top: 10px;
    & li{
      margin-bottom: 10px;
    }
  }
  &__item-radio-label,
  &__item-subtotal-value,
  &__item-country{
    @extend %checkoutSmalBlackText;
  }

  //стили radio при checked
  &__item--goods-shipping{
    padding-bottom: 10px;
  }
  &__item-shipping-list input{
    display: none;
  }
  &__item-shipping-list input + label{
    &::before{
      position: absolute;
      display: block;
      left: 6px;
      top: 50%;
      transform: translate(0, -50%);
      content: '\f111';
      color: #222;
      font-size: 1.5rem;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
    }
  }
  &__item-shipping-list input:checked + label{
    &::before{
      position: absolute;
      display: block;
      left: 6px;
      top: 50%;
      transform: translate(0, -50%);
      content: '\f192';
      color: #222;
      font-size: 1.5rem;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
    }
  }
  &__item-radio-label{
    position: relative;
    display: block;
    width: fit-content;
    padding-left: 30px;
  }
  //конец стилям radio

  
  &__input-text-field,
  &__item-select{
    display: block;
    flex-grow: 2;
    width: 100%;
    outline: 0;
    min-height: 4rem;
    padding: .85rem 2rem;
    border: 1px solid #e3e3e3;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #664;
  }
  &__input-text-field:focus{
    border-color: #26b;
  }
  &__item-country-option{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #664;
  }
  &__item-country-shipping,
  &__item--pt0{
    border-bottom: none;
    padding-bottom: 0;
  }
  &__item-country-shipping select{
    margin-bottom: 20px;
  }
  &__item--submit div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__item--submit .checkout__item-value{
    font-size: 2rem;
    font-weight: 700;
    color: #222;
  }
  &__item-submit-btn{
    display: block;
    width: 100%;
    padding: 15px 0;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  &__btn-sec{
    display: inline-flex;
    flex-grow: 0;
    width: fit-content;
    margin-right: 10px;
    padding: 8px 12px;
    border: 2px solid #e4eaec;
    background-color: #e4eaec;
    color: #222;
    outline: 0;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: -.025em;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s,border-color .3s,background-color .3s,box-shadow .3s;
    white-space: nowrap;
    cursor: pointer;
    &:hover{
      color: #222;
      border-color: #cfdadd;
      background-color: #cfdadd;
    }
    & i{
      display: block;
      width: fit-content;
      margin-right: 10px;
    }
  }
  //стили блока с контактной информацией
  &__item--contacts-info{
    padding-top: 0;
    border-bottom: none;
  }
  &__item--contacts-info h2{
    margin-bottom: 15px;
  }
  &__item-field{
    margin-bottom: 15px;
  }
  &__input-text-label{
    display: block;
    padding-left: .2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1;
    color: #664;
  }
  &__item-check-fields-wrap{
    margin-bottom: 30px;
  }
  &__item-additional-info h2{
    margin-bottom: 15px;
    border-bottom: 0;
  }
  &__item-textarea-descr{
    display: block;
    padding-left: .2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1;
  }
  &__item-textarea-field{
    display: block;
    width: 100%;
    min-height: 4rem;
    padding: .85rem 2rem;
    border: 1px solid #e3e3e3;
    line-height: 1.5;
    outline: none;
  }
   //стили checkbox при checked
   &__item-additional-info{
     padding-top: 0;
     border-bottom: none;
   }
   &__item-chk-field input{
    display: none;
  }
  &__item-chk-field input + label{
    &::before{
      position: absolute;
      display: block;
      left: 6px;
      top: 50%;
      transform: translate(0, -50%);
      content: '\f0c8';
      color: #222;
      font-size: 1.7rem;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
    }
  }
  &__item-chk-field input:checked + label{
    &::before{
      position: absolute;
      display: block;
      left: 6px;
      top: 50%;
      transform: translate(0, -50%);
      content: '\f14a';
      color: #222;
      font-size: 1.7rem;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
    }
  }
  &__item-checkbox-label{
    position: relative;
    display: block;
    width: fit-content;
    padding-left: 30px;
    font-size: 1.4rem;
    line-height: 2.58;
  }
  //конец стилям checkbox

  //стили checkout.html левый столбец
  &__order-info{
    padding: 20px 15px;
    border: 1px solid #ccc;
  }
  &__item--goods h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  &__item--goods{
    padding-bottom: 0;
    border-bottom: none;
  }
  &__item-goods-row{
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  &{
    display: inline-block;
  }
  &__item-goods-name,
  &__item-goods-count{
    @extend %checkoutSmalBlackText;
    line-height: 1.5;
  }
  &__item-goods-row i{
    font-size: 1rem;
    color: #222;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  &__item-goods-price{
    text-align: right;
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1.5;
  }
  &__item-inner-total-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & span{
      font-size: 2rem;
      font-weight: 700;
      color: #222;
      text-align: right;
    }
  }

  //методы оплаты
  &__item--payment-methods{
    padding-top: 40px;
    & h3{
      margin-bottom: 20px;
    }
  }
  &__item-payments-item{
    margin-bottom: 15px;
  }
  &__item-payments-link{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #222;
    @include colorOnHover;
  }
  &__item-payments-link--active{
    
  }
  &__item-nav{
    display: none;
  }
  &__item--submit>p{
    padding: 5px 0 15px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7;
  }

}
@media only screen and (min-width: 993px){
  .checkout{
    &__goods-total{
      padding-top: 0;
    }
    &__item--pt0{
      padding-top: 0;
    }
  }
}