.container{
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
}
.test-content{
  padding-bottom: 25px;
  font-size: 1.5rem;
  line-height: 1.2;
}
.container--header{
  position: relative;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.container--popular{
  padding-bottom: 40px;
}
.container--adv-online,
.container--brands,
.container--blog-section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.container--mail-us,
.container--about{
  padding-top: 50px;
  padding-bottom: 40px;
}
.container--stores{
  padding-top: 0;
  padding-bottom: 60px;
}
.container--testimonials{
  padding-top: 30px;
  padding-bottom: 100px;
}
.container--team{
  padding-top: 30px;
  padding-bottom: 60px;
}
.container-fluid--checkout{
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (min-width: 993px){
  .container{
    width: 100%;
    max-width: 1220px;
  }
  .container-fluid{
    max-width: 1220px;
  }
  .container--header{
		padding: 0px 30px;
		align-items: center;
		justify-content: flex-start;
		min-height: 70px;
  }
  .container--adv-online{
    padding: 90px 0;
  }
  .container--brands,
  .container--blog-section{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container--mail-us,
  .container--about{
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .container--testimonials{
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .container--team{
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
