.filter{
  padding: 15px 0;
  border-top: 3px solid #cdcdcd;
  &__title{
    padding: 14px 0 14px 2px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
  }
  &__option-item{
    border-bottom: 1px solid rgb(238, 238, 238);
    &:last-of-type{
      border-bottom: none;
    }
  }
  &__options-list{
    transition: height .4s ease-in-out;
  }
  &__option-link{
    display: block;
    padding: 10px 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#63666A;
    transition: color .4s ease-in;
    &:hover{
      color: #26b;
    }
  }
  &__options-sub1list{
    margin-left: 15px;
    margin-bottom: 5px;
    padding-right: 10px;
    border-left: 1px solid rgb(238, 238, 238);
    transition: all .4s ease-in; 
    animation-name: appearSublist-animation;
    animation-duration: 7s;
    & li{
      padding-left: 10px;
    }
  }
  &__option-item--sublist{
    border-bottom: none;
  }
}
@keyframes appearSublist-animation {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
.filter .sublist-title{
  position: relative;
}
.filter {
  transition: color .4s ease-in;
  &:hover{
    color: #26b;
  }
}
.filter .filter__title-open-list{
  position: absolute;
  display: block;
  top: 85%;
  right: 31px;
  width: 1px;
  height: 1px;
  &::before{
    position: absolute;
    top: -20px;
    right: -23px;
    width: 10px;
    height: 2px;
    content: '';
    display: block;
    background-color: #222;
    font-size: 3.1rem;
    font-weight: 400;
    cursor: pointer;
  }
  &::after{
    position: absolute;
    top: -20px;
    right: -23px;
    width: 10px;
    height: 2px;
    content: '';
    display: block;
    background-color: #222;
    font-size: 3.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: transform .1s ease-in;
    transform: rotate(90deg);
  }
}

.filter .filter__title-open-list.open-state{
  &::after{
    transform: rotate(0deg);
  }
}
.filter__option-item .filter__option-link .hidden-items-control{
  position: absolute;
  display: block;
  top: 50%;
  right: 15px;
  width: 1px;
  height: 1px;
  &::before{
    position: absolute;
    top: -8px;
    right: -23px;
    content: '\f107';
    display: block;
    color: #222;
    font-size: 1.5rem;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    cursor: pointer;
  }
}
.filter__option-item .filter__option-link .hidden-items-control.open-state{
  &::before{
    content: '\f106';
    right: -20px;
  }
}

//стили для чекбоксов в фильтре
.filter{
  &__options-list--chkbox a{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  &__option-link-chk-count{
    font-size: 1.4rem;
    color: #cdcdcd;
  }
  &__option-link-chk-name{
    position: relative;
    display: block;
    padding-left: 25px;
    cursor: pointer;
    &::before{
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      content: '';
      width: 15px;
      height: 15px;
      border: 1px solid #cdcdcd;
      border-radius: 1px;
    }
  }
}
.filter__option-link.checked-option .filter__option-link-chk-name::before{
  top: 0;
  right: -23px;
  content: '\f14a';
  border: none;
  width: fit-content;
  color: #222;
  font-size: 2rem;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  cursor: pointer;
}

//стили для фильтра по цене
.filter__price-filter{
  margin: 15px 7px;
}
.filter__price-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  &-name{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #26b;
    transition: all .4s ease-in;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      background-color: #26b;
      color: #fff;
    }
  }
  &-range{
    display: inline-block;
    font-size: 1.4rem;
    color: #222;
  }
}
.filter--price .filter__options-list{
  margin-top: 25px;
}
.filter__price-filter{
  padding: 0 10px;
}
.noUi-target{
  background: #ccc;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 2px;
}
.noUi-connect{
  background: #999;
}
.noUi-handle::after,
.noUi-handle::before{
  display: none;
}
.noUi-horizontal .noUi-handle{
  top: -10px;
  box-shadow: none;
  outline: none;
  width: 2.2rem;
  height: 2.2rem;
  background: #26b;
  cursor: pointer;
  border-radius: 50%;
}
.noUi-handle-lower{
  left: 2px;
}
// .noUi-tooltip{
//   display: none;
// }
// .noUi-active .noUi-tooltip{
//   display: block;
// }
// .noUi-handle-lower{

// }
// .noUi-horizontal .noUi-origin{
// }
// .noUi-connects{
//   position: relative;
//   background-color: #fff;
//   border: none;
//   height: 10px;
// }
// .noUi-connect{
//   background: #999;
//   margin-top: 8px;
//   height: 3px;
//   z-index: 10;
// }
// // .noUi-horizontal .noUi-handle {
// //   width: 1.2rem;
// //   height: 1.2rem;
// //   background: #26b;
// // }
// .noUi-horizontal .noUi-handle{
//   top: 3px;
//   right: -10px;
//   width: 14px;
//   height: 14px;
//   background-color: #26b;
//   border-radius: 50%;
//   border: none;
//   box-shadow: none;
// }

@media only screen and (min-width: 993px){
  .filter__option-item .filter__option-link .hidden-items-control{
    right: 30px;
  }
}
