.footer{
  background: #222;
  color: #ccc;
  padding-bottom: 60px;
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__top{
  }
  &__logo{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  &__top, &__middle{
    padding: 28px 0;
    border-bottom: 1px solid #333;
  }
  &__middle{
    display: flex;
    flex-direction: column;
  }
  &__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0;
  }
  &__bottom-payment-img{
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 27px;
  }
  &__copyright{
    margin-bottom: 27px;
  }
  &__copyright-text{
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 1.2rem;
  }
  &__social{
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  &__social-link{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    font-size: 1.4rem;
    transition: all .4s ease-in-out;
    &:hover{
      color: rgb(232, 232, 232);
      background-color: #26b;
      border-color: #26b;
    }
  }
  &__mobile-nav-wrap{
    position: fixed;
    padding-top: 10px;
    left: 0;
    right: 0;
    bottom: -300px;
    transition: bottom .3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
    background: #fff;
    box-shadow:0 0 10px 1px rgba(0,0,0,.1);
    color: rgb(102, 102, 102);
    z-index: 1060;
  }
  &__mobile-nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  &__mobile-nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    &--cart{
      position: relative;
    }
  }
  &__mobile-nav-link-icon{
    position: relative;
    display: block;
    margin-bottom: 5px;
    font-size: 2.5rem;
    transition: top .6s ease-in-out;
  }
  &__mobile-nav-text{
    font-size: 1rem;
    text-transform: uppercase;
  }
}
.show-footer-menu .footer__mobile-nav-wrap{
  bottom: 0;
}
.footer__mobile-nav-item:hover .footer__mobile-nav-link-icon{
  top: -5px;
}
@media only screen and (min-width: 769px){
  .footer{
    padding-top: 0;
    &__mobile-nav-wrap{
      display: none;
    }
  }
}
@media only screen and (min-width: 993px){
  .footer{
    &__top{
      display: flex;
      align-items: center;
    }
    &__logo{
      margin-bottom: 0;
      width: 25%;
    }
    &__subscribe{
      width: 75%;
    }
    &__bottom{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__bottom-payment-img{
      margin-bottom: 0;
    }
    &__copyright{
      margin-bottom: 0;
    }
  }
}