.mail-us{
  &__title{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    color: #222;
  }
  &__descr{
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
  &__contacts-item{
    margin-bottom: 20px;
  }
  &__contacts-item-title{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: #222;
  }
  &__contacts-item-content{
    display: block;
    font-size: 1.2rem;
    line-height: 2.6rem;
    cursor: pointer;
    @include colorOnHover;
  }
  &__form-wrap{
    //padding: 20px 0 50px;
  }
}