.main{
  padding-top: 91px;
  &__content-wrap{
    overflow: hidden;
  }
}
@media only screen and (min-width: 575px){
  .main{
    padding-top: 80px;
  }
}
@media only screen and (min-width: 767px){
  .main{
    padding-top: 91px;
  }
}
@media only screen and (min-width: 991px){
  .main{
    &__content{
      overflow-x: hidden;
    }
  }
}