.nav{
	position: absolute;
  display: flex;
	flex-direction: column;
	top: 120px;
	opacity: 0;
	visibility: hidden;
	margin-right: 2px;
	font-size: 1.5rem;
}
//стили при клике на гамбургер
.header__nav-block._active{
	position: absolute;
	margin-left: -30px;
	width: 100vw;
	height: 100vh;
	opacity: .2;
	background-color: #000;
	z-index: 15;
}
.header__nav-block._active .nav{
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	z-index: 16;
	background-color: green;
}
@media only screen and (min-width: 993px){
  .nav{
		position: static;
    display: flex;
		justify-content: space-between;
		width: 100%;
		margin-right: 20px;
		opacity: 1;
		visibility: visible;
    &__list{
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		&__item{
			position: relative;
			padding: 0 5px;
		}
		&__link{
			display: block;
			padding: 20px 7px;
			font-size: 1.2rem;
			color: #fff;
			font-weight: 700;
			transition: all .3s ease-in-out;
			text-transform: uppercase;
			&{
				color: #000;
			}
			&:hover{
				color: #26b;
				&::before, &::after{
					background-color: #26b;
				}
			}
			&--active{
				color: #26b;
			}
			&--subtitle{
				position: relative;
				padding-right: 12px;
				&::after{
					position: absolute;
					display: block;
					content: '';
					top: 50%;
					right: 4px;
					width: 5px;
					height: 1px;
					transform: rotate(45deg);
					background-color: #000;
				}
				&::before{
					position: absolute;
					display: block;
					content: '';
					top: 50%;
					right: 1px;
					width: 5px;
					height: 1px;
					transform: rotate(-45deg);
					background-color: #000;
				}
			}
			&--sub-nav{
				font-weight: 400;
				padding: 12px;
				font-size: 1.2rem;
				text-transform: none;
			}
		}
		&__sub1-list{
			position: absolute;
			top: 50px;
			opacity: 0;
			visibility: hidden;
			background-color: #fff;
			pointer-events: none;
			width: max-content;
			box-shadow: 5px 5px 15px 7px #B7B7B7;
			&::before{
				position: absolute;
				display: block;
				content: '';
				width: 0;
				height: 0;
				top: -13px;
				left: 22px;
				border-style: solid;
				border-width: 0 10px 12px 10px;
				border-color: transparent transparent #ffffff transparent;
			}
		}
  }
  
  body._pc .nav__item:hover .nav__sub1-list {
    border-top: 35px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}