.pagination{
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__display{
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: #ccc;
    & span{
      color: #222;
    }
  }
  &__list{
    display: flex;
    align-items: center;
    width: fit-content;
  }
  &__item{
    display: block;
    margin-right: 7px;
  }
  &__item-link{
    display: block;
    padding: 3px 7px;
    display: inline-block;
    border: 1px solid transparent;
    color: #222;
    font-size: 1.4rem;
    @include colorOnHover;
    &:hover{
      border-color: #222;
    }
  }
  &__item--current a{
    opacity: .5;
    border-color: #222;
  }
  &__item--empty{
    border: none;
  }
  &__control{
    display: block;
    width: fit-content;
    padding: 4px 9px;
    text-align: center;
    background-color: #ededed;
    color: #ccc;
    & i{
      font-size: 2rem;
      font-weight: 100;
    }
    &--active{
      background-color: rgb(17,17,17);
      color: #fff;
    }
    &--prev{
      margin-right: 25px;
    }
    &--next{
      margin-left: 10px;
      display: block;
    }
  }
  &--blog{
    justify-content: center;
  }
  &--catalog{
    
  }
}
@media only screen and (min-width: 575px){
  .pagination{
    flex-direction: row;
    &__display{
      margin-bottom: 0;
    }
  }
}