
.policy-item__text{
  margin-bottom: 5px;
  padding-left: 15px;
  line-height: 1.85;
  font-family: "Open Sans",sans-serif;
  font-size: 1.7rem;
  text-align: justify;
}
.policy-item ul li{
  line-height: 1.85;
  font-family: "Open Sans",sans-serif;
  font-size: 1.7rem;
  text-align: justify;
  list-style: none;
}
.policy-item ul{
  padding-left: 40px;
}
.page-title--policy{
  margin-bottom: 20px;
  text-align: center;
}