.product-slider{
  padding-top: 100px;
}
.product__sliders{
  flex-direction: column;
}
.product{
  &__bottom{
    padding-bottom: 30px;
  }
  &__main-slider-img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  &__thumb-slider {
    & .slick-slide {
      margin-left: 20px;
    }
    & .slick-list {
      margin-left: -20px;
    }
  }
  &__thumb-slider--quickview {
    & .slick-slide {
      margin-left: 20px;
    }
    & .slick-list {
      margin-left: -20px;
    }
  }
  &__thumb-slider-item{
    height: 90px;
  }
  &__title{
    margin-bottom: 6px;
    padding-right: 20px;
    color: #222;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
  }
  &__meta{
    display: flex;
    margin-bottom: 1.5rem;
    color: #999;
    font-size: 1.2rem;
  }
  &__number{
    display: inline-block;
    margin-right: 25px;
  }
  &__price{
    display: inline-block;
    color: #d26e4b;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
  }
  &__rating{
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 19px;
  }
  &__stars-block{
    margin-right: 9px;
  }
  &__reviews-link{
    font-size: 1.6rem;
    left: 2px;
    color: #ccc;
    @include colorOnHover
  }
  &__short-descr{
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.86;
  }
  &__paremeters{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  &__variation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__variation-text{
    font-size: 1.2rem;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__count-block{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  &__count-block-add-to-basket{
    display: block;
    padding: 15px 15px;
    width: fit-content;
    align-self: flex-end;
    background-color: #26b;
    color: #fff;
    font-weight: 700;
    transition: color .3s,border-color .3s,background-color .3s,box-shadow .3s;
    text-transform: uppercase;
    &:hover{
      border-color: #2977d8;
      background-color: #2977d8;
    }
    & i{
      display: inline-block;
      margin-right: 10px;
      font-size: 1.7rem;
      font-family: "Font Awesome 5 Pro";
    }
  }
  &__social-block{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__info-nav{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
  }
  &__info-nav-item{
    display: inline-block;
    width: fit-content;
  }
  &__info-nav-link{
    display: inline-block;
    margin-right: 20px;
    padding: 1rem 2px;
    line-height: 1.2;
    font-size: 1.4rem;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    &--active{
      color: #222;
      border-bottom: 2px solid #222;
    }
  }
  
  &__info-content-item{
    padding: 15px 10px;
    min-height: 100px;
    color: #222;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  &__info-content-item-title{
    margin-right: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 15px;
  }
  &__info-content-item-subtitle{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9;
  }
  &__info-content-item-text-list{
    padding-left: 25px;
  }
  &__info-option-list{
    max-width: 700px;
  }
  &__info-option-item{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    & span{
      color: #222;
      font-size: 1.5rem;
      line-height: 1.4;
    }
  }
  &__info-option-name{
    display: inline-block;
    padding-right: 15px;
    min-width: 70px;
    width: 40%;
    font-weight: 700;
  }
  &__info-option-value{
    min-width: 190px;
    width: 60%;
  }
  &__info-content-item-header{
    display: flex;
    align-items: center;
  }
  &__info-add-review{
    padding-top: 30px;
  }
}

//стили для поведения NavTab в описании продукта
.product__info-content-item{
  display: none;
}
.product__info-content-item--active{
  display: block;
}
//стили для стрелок на главном слайдере
.product__main-slider,
.product__main-slider--quickview{
  position: relative;
  & .slick-prev{
    left: 10%;
    z-index: 25;
    &::before{
      content: '\f104';
    }
  }
  & .slick-next{
    right: 15%;
    &::before{
      content: '\f105';
    }
  }
  & .slick-arrow{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
    top: calc(50% - 15px);
    transform: translate(0, -50%);
    &:hover{
      &::before{
        background-color: #26b;
        color: #fff;
      }
    }
    &::before{
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      text-align: center;
      font-family: "Font Awesome 5 Pro";
      font-size: 1.9rem;
      font-weight: 400;
      color: #222;
      transition: all .4s ease-in-out;
    }
  }
  &:hover .slick-arrow{
    opacity: 1;
    visibility: visible;
  }
}
//стили для стрелок на малом слайдере
.thumb-slider-prev,
.thumb-slider-next{
  position: absolute;
  display: block;
  height: 100%;
  width: 20px;
  top: 0; 
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  border-radius: 0;
  background-color: rgba(255,255,255,0);
  transition: all .4s;
  opacity: .2;
  z-index: 10;
  & i{
    position: absolute;
    @include absoluteAllCenter;
  }
}
.thumb-slider-prev{
  left: 15px;
  box-shadow:4px 0 7px -5px rgba(0,0,0,0)
}
.thumb-slider-next{
  right: 15px;
  box-shadow:-4px 0 7px -5px rgba(0,0,0,0)
}
.product__thumb-slider--quickview:hover .slick-arrow,
.product__thumb-slider:hover .slick-arrow{
  background-color: rgba(255,255,255,.8);
  opacity: 1;
}

// #product__info-descr{
//   background-color: orange;
// }
// #product__info-additional{
//   background-color: green;
// }
// #product__info-shipping{
//   background-color: rgb(17, 47, 218);
// }
// #product__info-reviews{
//   background-color: rgb(248, 235, 54);
// }
//стили звездочек
.product__top {
  & .rating-mini__item{
    font-size: 1.8rem;
    color: rgba(0,0,0,.16);
  }
  & .rating-mini__item--active {
    color: #664;
  }
  & .rating-mini__item{
    font-size: 1.8rem;
  }
}

//в отзывах
.product__info{
  & .rating-mini__item--active {
    color: #d26e4b;
  }
  & .rating-mini__item{
    font-size: 2.2rem;
  }
}
.product__info .author__reply{
  & .rating-mini__item{
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 435px){
  .product__count-block{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    & .count-box__input-group{
      height: 3.5rem;
      margin-bottom: 0;
      margin-left: 10px;
    }
  }
  .product__variation--count{
    margin-bottom: 0;
  }
  .product__count-block-add-to-basket{
    padding: 10px;
  }
}
@media only screen and (min-width: 576px){
  .product{
    &__title{
      font-size: 2.6rem;
      line-height: 1.4;
    }
    &__variation-text{
      font-size: 1.4rem;
    }
  }
}
@media only screen and (min-width: 769px){
  .product-slider{
    padding-top: 23px;
  }
  .product__main-slider .slick-next::before{
    right: 15%;
  }
  .product{
    &__variation--count{
      margin-bottom: 0;
      & .product__variation-text{
        margin-right: 5px;
      }
    }
    &__count-block-add-to-basket{
      align-self: flex-start;
      margin-top: 15px;
    }
    &__count-block{
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

@media only screen and (min-width: 993px){
  .product__sliders{
    flex-direction: column;
  }
  .quickview .product__sliders{
    flex-direction: column;
  }
  .product__main-slider .slick-next,
  .product__main-slider--quickview .slick-next{
    right: 12%;
  }
  .product__main-slider .slick-next::before{
    right: 20%;
  }
  .product{
    &__thumb-slider {
      & .slick-slide {
        margin-left: 20px;
      }
      & .slick-list {
        margin-left: -20px;
      }
    }
    &__count-block{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__count-block-add-to-basket{
      margin-top: 0;
    }
  }
  .quickview .product{
    &__thumb-slider {
      & .slick-slide {
        margin-left: 20px;
      }
      & .slick-list {
        margin-left: -20px;
      }
    }
  }
}