.promo-block{
  margin-top: 40px;
  color: #fff;
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    display: flex;
    flex-direction: column;
    padding: 119px 30px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    &--2{
      border: 30px solid #26b;
      align-items: center;
      text-align: center;
      color: #fff;
      & .promo-block__item-title{
        font-size: 3rem;
      }
      & .promo-block__item-descr{
        font-size: 1.8rem;
        color: rgb(58, 53, 53);
        text-transform: uppercase;
        font-weight: 700;
      }
      & .promo-block__item-link{
        padding: 15px 15px;
        background-color: #000;
      }
    }
  }
  &__item-title{
    padding: 15px 0 0;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__item-descr{
    position: relative;
    display: inline-block;
    padding-bottom: 25px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    &::after{
      position: absolute;
      content: '';
      display: block;
      width: 40px;
      height: 4px;
      background-color: #000;
      bottom: -1px;
      left: 0;
    }
  }
  &__item-link{
    position: relative;
    display: inline-block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 0;
      bottom: -5px;
      height: 3px;
      background-color: #222;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      transition: width .3s ease-in;
    }
    &:hover::before{
      width: 100%;
    }
  }
}
@media only screen and (min-width: 575px){
  .promo-block{
    &__item{
      padding: 80px 30px;
      &--1{
        width: 48%;
        order: 1;
      }
      &--2{
        padding: 76px 30px;
        width: 100%;
        align-items: center;
        text-align: center;
        order: 3;
        margin-bottom: 0;
      }
      &--3{
        width: 48%;
        order: 2;
      }
    }
  }
}
@media only screen and (min-width: 991px){
  .promo-block{
    &__list{
      
    }
    &__item{
      height: 170px;
      &--1{
        padding: 30px 10px;
        width: 32%;
        order: 1;
      }
      &--2{
        padding: 30px 15px;
        border-width: 25px;
        width: 32%;
        order: 2;
        & .promo-block__item-title{
          font-size: 2.5rem;
        }
      }
      &--3{
        padding: 30px 10px;
        width: 32%;
        order: 3;
      }
    }
  }
}