.promo-slider{
  &__item{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    //box-shadow: inset 13vw 28vh 22vw 6vh rgba(0,0,0,.3);
    box-shadow: inset 50vw 50vh 50vw 50vh rgba(0,0,0,.5);
  }
  &__item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__item-title{
    margin-bottom: 2.3vw;
    text-align: left;
    font-size: 3.5vw;
    font-weight: 700;
    max-width: 50vw;
    color: #fff;
    // &--1{
    //   color: #0072ff;
    // }
    // &--2{
    //   color: #fff;
    // }
    // &--3{
    //   color: #ff0000;
    // }
  }
  &__item-descr{
    margin-bottom: 3.7vw;
    font-size: 2.4vw;
    line-height: 1.2;
    color: rgb(3, 1, 0);
    max-width: 71vw;
    font-weight: 700;
    color: #ff0000;
    // &--1{
    //   color: #fff;
    // }
    // &--2{
    //   color: #ff0000;
    // }
    // &--3{
    //   color: #fff;
    // }
  }
  &__slick-dots{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 0;
    transform: translate(0,-50%);
    left: 50%;
    bottom: 5vh;
    & button{
      display: block;
      margin: 0 4px;
      font-size: 0;
      min-width: none;
      width: 1.5vh;
      height: 1.5vh;
      background-color: #9f9f9f;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
  & .action--promoslide{
    padding: 1.3vw 2.2vw;
    border-radius: 3px;
    font-size: 1.6vw;
    background-color: #26b;
    color: #fff;
    transition: background-color .4s ease-in-out;
    &:hover{
      background-color: rgb(59, 143, 245);
    }
  }
}
.promo-slider__wrap .slick-track{
  display: flex;
}
.promo-slider__slick-dots .slick-active button{
  background-color: #fff;
}
@media only screen and (min-width: 575px){
  .promo-slider{
    &__item{
      height: 500px;
    }
    &__item-title{
      //max-width: 70vw;
      // margin-bottom: 20px;
      // font-size: 3.4rem;
    }
    &__item-descr{
      bottom: 30px;
      //font-size: 2.4rem;
    }
    & .action--promoslide{
      //font-size: 2rem;
    }
  }
}
@media only screen and (min-width: 767px){
  .promo-slider{
    &__item{
      height: 500px;
    }
    &__item-title{
      font-size: 2.7rem;
      max-width: 400px;
      margin-bottom: 17px;
    }
    &__item-descr{
      font-size: 1.9rem;
      max-width: 700px;
      margin-bottom: 27px;
    }
    & .action--promoslide{
      padding: 10px 25px;
      font-size: 2.3rem;
    }
  }
}
@media only screen and (min-width: 991px){
  .promo-slider{
    &__item{
      height: 600px;
    }
    &__item-title{
      //max-width: 400px;
      //font-size: 4.2rem;
    }
    &__item-descr{
      //font-size: 2.2rem;
      //font-weight: 400;
    }
    & .action--promoslide{
      border-radius: 3px;
      //font-size: 2rem;
      background-color: #26b;
      color: #fff;
      //padding: 18px 36px;
      transition: background-color .4s ease-in-out;
      text-transform: none;
      &:hover{
        background-color: rgb(59, 143, 245);
      }
    }
  }
}