.shop-list{
  margin-bottom: 5px;
  &__titles{
    display: none;
  }
  &__tbody{
    margin-bottom: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
  }
  &__item-descr{
    margin-bottom: 15px;
  }
  &__item figure{
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    margin: 0 auto 10px auto;
    width: 70px;
  }
  &__item figure img{
    display: block;
    margin: 0 auto;
    width: 70px;
  }
  &__item-drop{
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    top: 5px;
    right: -8px;
    background-color: #fff;
    box-shadow:0 2px 6px 0 rgba(0,0,0,.4);
    &::after, &::before{
      display: block;
      position: absolute;
      content: '';
      top: 7px;
      right: 3px;
      width: 10px;
      height: 2px;
      background-color: rgb(90, 90, 90);
    }
    &::after{
      transform: rotate(45deg);
    }
    &::before{
      transform: rotate(-45deg);
    }
  }
  &__item-name{
    font-size: 1.4rem;
    text-align: center;
  }
  &__item-price{
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: center;
  }
  &__promocode{
    display: flex;
    flex-direction: column;
  }
  &__promocode-form{
    display: flex;
    margin-bottom: 20px;
  }
  &__promocode-value{
    margin-right: 25px;
    outline: none;
  }
}
@media only screen and (min-width: 769px){
  .shop-list{
    display: table;
    margin-bottom: 5px;
    &__titles{
      display: table-header-group;
    }
    &__titles div{
      display: grid;
      grid-template-columns: 4fr 1fr 2fr 1fr;
      padding-bottom: 15px;
    }
    &__titles-item{
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__tbody{
      width: 100%;
      border-left: none;
      border-right: none;
    }
    &__item{
      position: relative;
      display: grid;
      grid-template-columns: 4fr 1fr 2fr 1fr;
    }
    &__item-descr{
      display: flex;
      align-items: center;
      padding-right: 25px;
      text-align: left;
    }
    &__item-descr figure{
      margin-right: 35px;
    }
    &__item-name, &__item-price, &__item-counter, &__item-total{
      display: table-cell;
      vertical-align: middle;
      text-align: start;
    }
    
  }
}