.sidebar{
  transition: margin .4s ease-in;
  &--right{
    padding-top: 23px;
  }
}
// стили для сайдбара на мобильных экранах
.sidebar__content{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  padding: 0 20px;
  padding-top: 30px;
  transform: translateX(100%);
  overflow: scroll;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  line-height: 1.3;
  transition: transform .4s,opacity .4s;
  z-index: 121;
}
.sidebar__overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #222;
  transition: visibility .4s,opacity .4s;
  z-index: 21;
}
body.sidebar-active .sidebar__content{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
body.sidebar-active .sidebar__overlay{
  opacity: .8;
  visibility: visible;
}
body.sidebar-active .sidebar__icon-close-wrap{
  display: block;
}
.closed-left-sidebar{
  margin-left: -25%;
  height: 0;
}
.closed-left-sidebar+.products-list__wrap--catalog{
  max-width: 100%;
  flex-basis: 100%;
}
.catalog-sidebar__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  & span{
    display: block;
    width: fit-content;
    color: #26b;
  }
}
.sidebar-toggle{
  position: fixed;
  right: 0;
  top: 25vw;
  display: block;
  padding: 10px;
  color: #ccc;
  background-color: #222;
  font-size: 2rem;
}
//кнопка для закрытия меню н мобильных экранах
.sidebar__icon-close-wrap{
  position: fixed;
  display: none;
  top: 15px;
  right: calc(100vw - 60px);
  cursor: pointer;
  z-index: 50;
}
.sidebar__icon-close{
  position: relative;
  display: block;
  width: 1px;
  height: 1px;
  background-color: transparent;
  &::after, &::before{
    display: block;
    position: absolute;
    content: '';
    top: 10px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: rgb(231, 227, 227);
  }
  &::after{
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }
}
@media only screen and (min-width: 993px){
  .sidebar-toggle{
    display: none;
  }
  .sidebar__content{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 8px;
    transform: translateX(0);
    overflow: auto;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    transition: transform .4s,opacity .4s;
    z-index: 10;
  }
  .closed-left-sidebar .catalog-sidebar__close{
    position: absolute;
    left: calc(100% + 30px);
  }
  .closed-left-sidebar+.products-list__wrap--catalog .products-list__controls-list{
    padding-left: 40px;
  }
}