.social{
  display: flex;
  width: fit-content;
  margin: 0 auto;
  &--post{
    & .social__link{
      border-color: transparent;
      &:hover{
        background-color: transparent;
        color: #26b;
      }
    }
    & .social__link--fb{
      color: #8f79ed;
    }
    & .social__link--tw{
      color: #79c8ed;
    }
    & .social__link--ln{
      color: #e66262;
    }
  }
  &__link{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    font-size: 1.4rem;
    transition: all .4s ease-in-out;
    &--store{
      color: #fff;
      border: none;
    }
    &--team{
      font-size: 1.7rem;
      color: #fff;
      border: 2px solid #fff;
    }
    &:hover{
      color: rgb(232, 232, 232);
      background-color: rgb(218, 218, 218);
      border-color: rgb(37, 126, 235);
    }
  }
}
.social__link--store{
  color: #fff;
}
.social__link--store:hover{
  background-color: rgb(73, 138, 218);
  border-color: rgb(37, 126, 235);
}
.social__link--team:hover{
  background-color: rgb(73, 138, 218);
  border-color: rgb(37, 126, 235);
}