.team-item{
  cursor: pointer;
  margin-bottom: 20px;
  &__content{
    position: relative;
  }
  &__img-wrap{
    position: relative;
  }
  &__img{
    display: block;
    width: 100%;
  }
  &__overlay{
    position: absolute;
    visibility: hidden;
    transform: translateY(-100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all .4s ease-in;
  }
  &__person-info{
    padding-top: 20px;
    color: #222;
    text-align: center;
  }
  &__name{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
  }
  &__position{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;

  }
}
.team-item:hover .team-item__overlay{
  visibility: visible;
  opacity: .2;
}
.team-item__overlay-social-block{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: top .4s ease-in-out;
}
.team-item:hover .team-item__overlay-social-block{
  opacity: 1;
  visibility: visible;
  z-index: 12;
  top: 50%;
}
@media only screen and (min-width: 993px){
  .team-item{
    &__person-info{
      padding-top: 10px;
    }
  }
}