.testimonials{
  background-color: rgb(246, 247, 249);
}
//расстояние между слайдами
.testimonials__list {
  & .slick-slide {
    margin-left: 20px;
  }
  & .slick-list {
    margin-left: -20px;
  }
}
.testimonial{
  background-color: #fff;
  color: #222;
  box-shadow:5px 5px 2rem rgba(0,0,0,.05);
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.8rem 3rem;
  }
  &__title{
    margin-bottom: 26px;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 700;
  }
  &__person-img-wrap{
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #664;
    line-height: 1.75;
  }
  &__person-name{
    display: block;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #222;;
  }
  &__person-role{
    display: block;
    margin: 0 auto 15px;
    font-size: 1.2rem;
    color: #999;
  }
}