.wdg{
  padding: 0;
  &__title{
    padding: 22px 0 10px 2px;
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
    border-bottom: 1px solid #e1e1e1;
  }
  &__option-item{
  }
  &__options-list{
    padding-top: 10px;
    transition: height .4s ease-in-out;
  }
  &__option-link{
    display: block;
    padding: 10px 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgb(102, 102, 102);
    transition: color .4s ease-in;
    &:hover{
      color: #26b;
    }
  }
  &__options-sub1list{
    margin-left: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 1px solid rgb(238, 238, 238);
  }
  &__option-item--sublist{
    border-bottom: none;
  }
}
.wdg .sublist-title{
  position: relative;
}
.wdg {
  transition: color .4s ease-in;
  &:hover{
    color: #26b;
  }
}
.wdg .wdg__title-open-list{
  position: absolute;
  display: block;
  top: 50%;
  right: 20px;
  width: 1px;
  height: 1px;
  &::before{
    position: absolute;
    top: -20px;
    right: -23px;
    content: '+';
    display: block;
    width: 33px;
    height: 24px;
    color: #222;
    font-size: 3.1rem;
    font-weight: 400;
    cursor: pointer;
  }
}

.wdg .wdg__title-open-list.open-state{
  &::before{
    content: '-';
    font-size: 5.9rem;
    top: -44px;
    right: -20px;
  }
}
.wdg__option-item .wdg__option-link .hidden-items-control{
  position: absolute;
  display: block;
  top: 50%;
  right: 15px;
  width: 1px;
  height: 1px;
  &::before{
    position: absolute;
    top: -8px;
    right: -23px;
    content: '\f107';
    display: block;
    width: 33px;
    height: 24px;
    color: #222;
    font-size: 1rem;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    cursor: pointer;
  }
}
.wdg__option-item .wdg__option-link .hidden-items-control.open-state{
  &::before{
    content: '\f106';
    right: -20px;
  }
}

//стили для популярных статей
.wdg--pop-articles{
  & .wdg__option-item{
    margin-bottom: 15px;
  }
  & .wdg__option-item-img-wrap{
    width: 50%;
  }
  & .wdg__option-item-img{
    display: block;
    width: 100%;
  }
  & .wdg__option-item-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
  }
  & .wdg__option-item-date{
    @include colorOnHover;
    color: rgb(153, 153, 153);
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  & .wdg__option-item-details{
    @include colorOnHover;
    color: rgb(34, 37, 42);
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.wdg__option-item--article{
  display: flex;
}
//о нас
.wdg--about{
  & p{
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
    line-height: 1.86;
  }
}

//облако тегов
.wdg--tags{
  
  & .wdg__tag-item{
    display: inline-block;
    padding: 1.5px 1rem;
    transition: color .3s,background-color .3s,border-color .3s;
    color: rgb(132, 132, 132);
    margin-bottom: 1rem;
    margin-left: .14rem;
    border: 1px solid #e1e1e1;
    font-size: 1.2rem;
    line-height: 1.58;
    &:hover{
      background-color: #26b;
      color: #fff;
    }
  }
}


//стили для чекбоксов в фильтре
.wdg{
  &__options-list--chkbox a{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  &__option-link-chk-count{
    font-size: 1.4rem;
    color: #cdcdcd;
  }
  &__option-link-chk-name{
    position: relative;
    display: block;
    padding-left: 25px;
    cursor: pointer;
    &::before{
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      content: '';
      width: 15px;
      height: 15px;
      border: 1px solid #cdcdcd;
      border-radius: 1px;
    }
  }
}
.wdg__option-link.checked-option .wdg__option-link-chk-name::before{
  top: 0;
  right: -23px;
  content: '\f14a';
  border: none;
  width: fit-content;
  color: #222;
  font-size: 2rem;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  cursor: pointer;
}

//стили для фильтра по цене
.wdg__price-wdg{
  margin: 15px 7px;
}
.wdg__price-control{
  padding: 15px 0;
  &-name{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    border: 2px solid #26b;
    transition: all .4s ease-in;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &-range{
    display: inline-block;
    font-size: 1.4rem;
    color: #222;
  }
}
