@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff');
}
  @font-face {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff');
}
  @font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Lato-Semibold.woff2') format('woff2'),
  url('../fonts/Lato-Semibold.woff') format('woff');
}