@mixin for-tablet-width {
  @media (min-width: $tablet-width) { @content; }
}
@mixin respond-to($media) {
  @if $media == tabletAndWider {
    @media only screen and (min-width: $tablet-width) { @content; }
  }
  @else if $media == desctop {
    @media only screen and (min-width: $desctop-width) { @content; }
  }
}
@mixin colorOnHover {
  transition: color .4s ease-in-out;
    &:hover{
      color: #26b;
    }
}
@mixin absoluteYCenter {
  top: 50%;
  transform: translate(0, -50%);
}
@mixin absoluteXCenter {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}
@mixin absoluteAllCenter {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}